<launch>
        <arg name="file" default="/home/user/local/tmp/bag16/2016-11-22-14-48-56.bag"/>
	<env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find velodyne_odo)/cfg/rosconsole.config"/>
	 <!--node name="sph_test" pkg="velodyne_odo" type="sph" launch-prefix="optirun" output="screen"-->
	<node name="sph_test" pkg="velodyne_odo" type="sph" output="screen">
	 <!--node name="sph_test" pkg="velodyne_height_map" type="sph_test" output="screen" launch-prefix="valgrind" -->
                <param name="bag_name" value="$(arg file)"/>
		<!--param name="bag_name" value="/media/user/Acer/ROS/BAG/verstak/2015-09-25-14-53-48.bag"/-->
		<!--param name="bag_name" value="/media/user/Acer/ROS/BAG/verstak/2015-10-09-12-02-36.bag"/-->
		<!--param name="bag_name" value="/media/user/Acer/ROS/BAG/verstak/2015-08-24-17-06-08.bag"/-->
		<!--param name="bag_name" value="/media/user/Acer/ROS/BAG/verstak/2015-10-08-10-18-45.bag"/-->
		<!--param name="bag_name" value="/media/user/Acer/ROS/BAG/verstak/2015-09-10-17-24-45.bag"/-->
		<!--param name ="bag_name" value="/media/user/Acer/ROS/BAG/verstak/2015-10-09-12-05-49.bag.active"/-->
		<!--param name ="bag_name" value="/media/user/Acer/ROS/BAG/verstak16/2206/2016-06-22-16-36-21.bag"/-->
		<!--param name ="bag_name" value="/media/user/Acer/ROS/BAG/verstak16/2206/2016-06-22-16-49-26.bag"/-->
		<!--param name="bag_name" value="/media/user/Acer/ROS/BAG/verstak16/0408/2016-08-04-14-52-00.bag"/ - high speed-->
		<!--param name = "bag_name" value="/media/user/Acer/ROS/BAG/verstak16/2608/2016-08-26-15-57-12.bag"/-->
		<!--param name = "bag_name" value="/media/user/Acer/ROS/BAG/verstak16/2016-06-16-17-24-12.bag"/-->
		<!-- long on platz -->
		<!--param name = "bag_name" value="/media/user/Acer/ROS/BAG/verstak16/2206/2016-06-22-16-09-13.bag"/-->		
		<!-- long from platz to garazh -->
		<!--param name = "bag_name" value="/media/user/Acer/ROS/BAG/verstak16/2206/2016-06-22-16-49-26.bag"/-->
		<!-- long from platz to garazh around bassein -->
		<!--param name = "bag_name" value="/media/user/Acer/ROS/BAG/verstak16/13.07.2016/2016-07-13-14-40-48.bag"/-->		
				
		<param name="wait_input" value="true"/>
		<param name="pause" value="true"/>
		<param name="cadr_tms" value="-100"/>
		<param name="cadr_result_tms" value="100"/>
		<param name="key_tms" value="100"/>
		<param name="Xmax" value="60.0"/>
		<param name="Ymax" value="60.0"/>
		<param name="Zmax" value="10.0"/>
		<param name="Zmin" value="-10.0"/>
		<param name="minRad" value="5.0"/>
		<param name="sparse_first" value="0.2"/>
		<param name="sparse_next" value="0.2"/>
		<param name="Xrob" value="0"/>
		<param name="Yrob" value="0"/>
		<param name="Zrob" value="0"/>
		<param name="qx" value="0.0"/>
		<param name="qy" value="0.0"/>
		<param name="qz" value="0.0"/>
		<param name="qw" value="1.0"/>
		<param name="vx0" value="0"/>
		<param name="vy0" value="0"/>
		<param name="vz0" value="0"/>
		<param name="wx0" value="0"/>
		<param name="wy0" value="0"/>
		<param name="wz0" value="0"/>
		<param name="inc" value="1"/>
		<param name="cell_size" value="0.2"/>
		<param name="sph_size" value="1.0"/>
		<param name="start_cloud" value="0"/>
		<param name="finish_cloud" value="2900"/>
		<param name="registration_distance" value="10.0"/>
		<param name="min_dis" value="0.001"/>
		<param name="min_rot" value="0.0001"/>
		<param name="max_dis" value="0.1"/>
		<param name="max_rot" value="0.01"/>
		<param name="max_iterations" value="70"/>
		<param name="max_alignment_iterations" value="60"/>
		<param name="z_map" value="-1.0"/>
		<param name="rays" value="1080"/>
		<param name="correct" value="true"/>
		<param name="active_points_percent" value="0.5"/>
		<param name="min_point_part" value="0.2"/>
		<rosparam param="start_mask_angles"> [21.0, 31.0, 152.0, 269.5, 319.0]</rosparam>
        	<rosparam param="finish_mask_angles"> [27.0, 37.0, 162.0, 270.5, 327.0]</rosparam>
		<param name="max_accum_number" value="1" />
	</node>
</launch>
